<!DOCTYPE html>
<html>

<head>
    <title>OO인들</title>
    <link rel="stylesheet" href="/css/mobile/Feedback.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        $(document).ready(() => {
            document.getElementById("discord").addEventListener("click", function(e) {
                window.location.href = "https://discord.com"
            })
        })
    </script>
</head>

<body>
    <%- include("../modules/header_m.ejs") %>
        <%- include("../modules/header_m_script.ejs") %>

            <div id="main">

                <main>
                    <div class="titlebox">
                        <div class="tsvg">
                            <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_PersonWithIdea" overflow="hidden">
                                <path
                                    d="M49.44 88 49.44 79.33C49.4754 77.9555 48.8227 76.6538 47.7 75.86 45.2013 73.9202 42.3061 72.5545 39.22 71.86 36.9042 71.1648 34.5069 70.7781 32.09 70.71 29.6837 70.7045 27.2915 71.0757 25 71.81 21.9578 72.6281 19.0861 73.9827 16.52 75.81 15.4361 76.6355 14.7969 77.9175 14.79 79.28L14.79 88Z" />
                                <circle cx="32.09" cy="59.67" r="8.67" />
                                <path
                                    d="M79.27 9 38.17 9C36.8319 9.011 35.7544 10.1018 35.76 11.44L35.76 43.56C35.7434 44.8909 36.8088 45.9833 38.1397 45.9999 38.1432 45.9999 38.1466 46 38.15 46L45.75 46 45.75 56.09 54.92 46 79.22 46C80.5565 45.9945 81.6355 44.9066 81.6301 43.5701 81.6301 43.5667 81.63 43.5634 81.63 43.56L81.68 11.47C81.7076 10.1338 80.6468 9.02812 79.3105 9.0005 79.297 9.00022 79.2835 9.00005 79.27 9ZM65.27 18.39 66.82 16.84C67.0915 16.6224 67.488 16.6662 67.7056 16.9377 67.8884 17.1659 67.8902 17.4898 67.71 17.72L66.16 19.27C66.0431 19.3861 65.8848 19.4508 65.72 19.45 65.5526 19.4492 65.3917 19.3849 65.27 19.27 65.0645 19.0233 65.0774 18.6614 65.3 18.43ZM58.1 13.59C58.0562 13.2448 58.3006 12.9295 58.6458 12.8858 58.991 12.842 59.3062 13.0864 59.35 13.4316 59.3567 13.4842 59.3567 13.5374 59.35 13.59L59.35 15.77C59.3937 16.1152 59.1494 16.4305 58.8042 16.4742 58.459 16.518 58.1437 16.2736 58.1 15.9284 58.0933 15.8758 58.0933 15.8226 58.1 15.77ZM49.76 16.72C49.9933 16.477 50.3795 16.4692 50.6225 16.7025 50.6284 16.7082 50.6343 16.714 50.64 16.72L52.19 18.27C52.4288 18.5147 52.4288 18.9053 52.19 19.15 52.0731 19.2661 51.9148 19.3308 51.75 19.33 51.5826 19.3292 51.4217 19.2649 51.3 19.15L49.76 17.6C49.5447 17.3567 49.5579 16.9873 49.79 16.76ZM49 26 46.85 26C46.5048 25.9563 46.2605 25.641 46.3042 25.2958 46.3404 25.0107 46.5649 24.7861 46.85 24.75L49 24.75C49.3452 24.7063 49.6605 24.9506 49.7042 25.2958 49.748 25.641 49.5036 25.9563 49.1584 26 49.1058 26.0067 49.0526 26.0067 49 26ZM52.18 32.4 50.63 33.95C50.356 34.1645 49.9601 34.1163 49.7456 33.8423 49.5654 33.6121 49.5672 33.2882 49.75 33.06L51.29 31.52C51.5615 31.3024 51.958 31.3462 52.1756 31.6177 52.3584 31.8459 52.3602 32.1698 52.18 32.4ZM58.7 39.5C57.6656 39.5047 56.7983 38.7198 56.7 37.69L60.61 37.69C60.5158 38.6862 59.6998 39.4594 58.7 39.5ZM61.14 36.44 56.25 36.44C55.7529 36.44 55.35 36.0371 55.35 35.54 55.35 35.0429 55.7529 34.64 56.25 34.64L61.14 34.64C61.6371 34.64 62.04 35.0429 62.04 35.54 62.04 36.0371 61.6371 36.44 61.14 36.44ZM62.33 33.33C62.3143 33.3659 62.2792 33.3894 62.24 33.39L55.15 33.39C55.1211 33.4017 55.0889 33.4017 55.06 33.39 54.5548 32.2865 53.9167 31.2488 53.16 30.3 52.6189 29.6914 52.1921 28.9902 51.9 28.23 51.5839 27.4259 51.4081 26.5735 51.38 25.71L51.38 25.4C51.5294 21.36 54.9255 18.2061 58.9655 18.3555 62.7959 18.4972 65.8684 21.5696 66.01 25.4L66.01 25.66C65.9815 26.5258 65.8091 27.3808 65.5 28.19 65.2035 28.948 64.7772 29.6485 64.24 30.26 63.4834 31.2036 62.8422 32.2343 62.33 33.33ZM67.74 33.81C67.6231 33.9261 67.4648 33.9908 67.3 33.99 67.1326 33.9892 66.9717 33.9249 66.85 33.81L65.3 32.26C65.0855 31.986 65.1337 31.5901 65.4077 31.3756 65.6379 31.1954 65.9619 31.1972 66.19 31.38L67.74 32.92C67.98 33.1681 67.98 33.5619 67.74 33.81ZM70.54 26 68.36 26C68.0148 26.0437 67.6995 25.7994 67.6558 25.4542 67.612 25.109 67.8564 24.7937 68.2016 24.75 68.2542 24.7433 68.3074 24.7433 68.36 24.75L70.54 24.75C70.8852 24.7063 71.2005 24.9506 71.2442 25.2958 71.288 25.641 71.0436 25.9563 70.6984 26 70.6458 26.0067 70.5926 26.0067 70.54 26Z" />
                            </svg>
                        </div>

                        <div class="title">피드백</div>
                    </div>

                    <div class="boldline"></div>
                    <div class="stline"></div>
                    <div class="devcontact">개발자 연락처</div>

                    <div class="devprofile">
                        <div class="leftb"></div>
                        <div class="devcontent">
                            <img src="/images/Crown.png" alt="cellary">
                            <div class="devname">개발자명 : Crown</div>
                            <div class="devnum">0000 홍길동</div>
                            <div class="devdes">기획 및 프론트, 백엔드 개발을 담당하고 있는 Crown입니다.</div>
                            <div class="devemail"><b>E-mail</b> : example@gmail.com</div>
                            <div class="devdiscord"><b>Discord</b> : -</div>
                        </div>
                        <div class="rightb"></div>
                    </div>

                    <div class="devprofile">
                        <div class="leftb"></div>
                        <div class="devcontent">
                            <img src="/images/Vendetta.jpg" alt="vendetta">
                            <div class="devname">개발자명 : Cistus</div>
                            <div class="devnum">0000 홍길동</div>
                            <div class="devdes">디스코드 관리 및 백엔드 개발을 담당하고 있는 Cistus입니다.</div>
                            <div class="devemail"><b>E-mail</b> : exmaple@gmail.com</div>
                            <div class="devdiscord"><b>Discord</b> : -</div>
                        </div>
                        <div class="rightb"></div>
                    </div>

                    <div class="boldline" id="boldline2"></div>
                    <div class="stline"></div>
                    <div class="devcontact">웹사이트 정보</div>

                    <div class="projectinfo">
                        <img src="/images/GeneralLogo.png" alt="logo" class="infologo">
                        <div class="infodes">
                            <p>OO인들</p>
                            <p>Project OOID</p>
                            <p>웹사이트 버전 : -</p>
                            <p>웹사이트 정식 개시일 : 2021.09.01</p>
                            <p>폰트 : 나눔스퀘어 &copy; 네이버 나눔글꼴</p>
                        </div>
                        
                        <input type="button" class="plandownbtn" id="discord" value="디스코드">
                        <input type="button" class="plandownbtn" id="kakao" value="카카오톡">
                        <input type="button" class="plandownbtn" id="plan" value="기획안 다운로드">
                        
                    </div>
                </main>
            </div>
            <%- include("../modules/bottom_m.ejs") %>
</body>

</html>