@font-face{
    src: url("/font/NanumSquareB.ttf");
    src: url("/font/NanumSquareEB.ttf");
    src: url("/font/NanumSquareL.ttf");
    src: url("/font/NanumSquareR.ttf");
    font-family: "나눔스퀘어";
}

body{
    background-color: #000;
    font-family: 나눔스퀘어;
    text-decoration: none;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    margin-top: 80px;
}

.header {
    color:#fff;
    text-align: center;
    display: block;
    font-size: 30px;
    margin-top : 10px;
    margin-bottom:30px;
}

.txtb{
    position: relative;
    margin: 5px auto;
}

.txtb input{
    font-family: 나눔스퀘어;
    border-radius: 0px;
    border: 1px solid #fff;
    font-size: 15px;
    color: #333;
    width: 90%;
    outline: none;
    background-color: #fff;
    padding: 0 5px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

.submit {
    margin : 10px auto;
    position: relative;
}

#submit {
    font-size: 15px;
    height: 30px;
    width:170px;
    display: block;
    margin: 0 auto;
    font-family: 나눔스퀘어;
    background-color: #F6C700;
    border-radius: 50px;
    border: solid 1px #F6C700;
    font-weight: bold;
    transition:.2s;
}

#submit:hover {
    background-color: #fff;
    width: 200px;
}

.add{
    margin: 20px auto;
    display: block;
    color:#fff;
    text-align: center;
    font-size: 13px;
}

#signup,#find{
    text-decoration: none !important;
    color : #F6C700;
}

input[type=password] {
    font-family: "Arial";
}

@media(min-width : 450px){
    .txtb{
        width:400px;
    }
}
