<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OO인들</title>
    <link rel="stylesheet" href="/css/mobile/PasswordChanging.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>

    <script>
        function warn() {
            $('.warning').animate({ opacity: "1" }, 200);
            setTimeout(() => {
                $('.warning').animate({ opacity: "0" }, 1000);
            }, 5000);
        }
        // $('html, body').css({ 'overflow': 'hidden', 'height': '100%' });
        // $('#element').on('scroll touchmove mousewheel', function (event) {
        //     event.preventDefault();
        //     event.stopPropagation();
        //     return false;
        // });
        function scroll() {
            $('html, body').animate({
                scrollTop: 2800
            }, 1000);
        }


        let test = true;
        function show_terms() {
            if (test == false) {
                $("#pg5 > div.maincontent > div.fixed-show-terms").css({ display: "none" }, 100);
                test = true;
            } else {
                $("#pg5 > div.maincontent > div.fixed-show-terms").css({ display: "" }, 100);
                test = false;
            }
        }
    </script>
    <%- include("../modules/header_m.ejs") %>

        <section id="pg1">
            <div class="maincontent-first">

                <div class="signUp-Des">비밀번호를 잊어버리셨군요.</div>
                <div class="signUp-Title">아이디를 입력해 주세요.</div>
                <div class="diamondline" style="text-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="204.5" height="11.574" viewBox="0 0 204.5 11.574">
                        <line id="선_1" data-name="선 1" x1="204.5" transform="translate(0 5.787)" fill="none"
                            stroke="#f6c700" stroke-width="1" />
                        <g id="사각형_4" data-name="사각형 4" transform="translate(102.25) rotate(45)" stroke="#f6c700"
                            stroke-width="1">
                            <rect width="8.184" height="8.184" stroke="none" />
                            <rect x="0.5" y="0.5" width="7.184" height="7.184" fill="none" />
                        </g>
                    </svg>
                </div>
                <div class="inputwrap">
                    <input type="text" class="input" value="">
                    <span class="go">
                        <svg id="keyboard_arrow_right-24px" xmlns="http://www.w3.org/2000/svg" width="17.503"
                            height="17.503" viewBox="0 0 17.503 17.503">
                            <path id="패스_1" data-name="패스 1" d="M0,0H17.5V17.5H0Z" fill="none" />
                            <path id="패스_2" data-name="패스 2"
                                d="M8.59,13.723l3.34-3.347L8.59,7.028,9.618,6l4.376,4.376L9.618,14.751Z"
                                transform="translate(-2.325 -1.624)" fill="#f6c700" />
                        </svg>
                    </span>
                </div>
                <div class="warning" style="margin-top: 10px;">해당 아이디는 존재하지 않습니다!</div>

            </div>
        </section>

        <section id="pg2">
            <div class="maincontent">

                <div class="signUp-Des">그렇군요, 그러면</div>
                <div class="signUp-Title">복구 키를 입력해 주세요.</div>
                <div class="diamondline" style="text-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="204.5" height="11.574" viewBox="0 0 204.5 11.574">
                        <line id="선_1" data-name="선 1" x1="204.5" transform="translate(0 5.787)" fill="none"
                            stroke="#f6c700" stroke-width="1" />
                        <g id="사각형_4" data-name="사각형 4" transform="translate(102.25) rotate(45)" stroke="#f6c700"
                            stroke-width="1">
                            <rect width="8.184" height="8.184" stroke="none" />
                            <rect x="0.5" y="0.5" width="7.184" height="7.184" fill="none" />
                        </g>
                    </svg>
                </div>
                <div class="inputwrap">
                    <input type="text" class="input" value="">
                    <span class="go">
                        <svg id="keyboard_arrow_right-24px" xmlns="http://www.w3.org/2000/svg" width="17.503"
                            height="17.503" viewBox="0 0 17.503 17.503">
                            <path id="패스_1" data-name="패스 1" d="M0,0H17.5V17.5H0Z" fill="none" />
                            <path id="패스_2" data-name="패스 2"
                                d="M8.59,13.723l3.34-3.347L8.59,7.028,9.618,6l4.376,4.376L9.618,14.751Z"
                                transform="translate(-2.325 -1.624)" fill="#f6c700" />
                        </svg>
                    </span>
                </div>
                <div class="warning" style="margin-top: 10px;">아이디와 복구 키가 일치하지 않습니다!</div>

            </div>
        </section>

        <section id="pg3">
            <div class="maincontent">

                <div class="signUp-Des">그렇군요, 그러면</div>
                <div class="signUp-Title">새 비밀번호를 입력해 주세요.</div>
                <div class="diamondline" style="text-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="204.5" height="11.574" viewBox="0 0 204.5 11.574">
                        <line id="선_1" data-name="선 1" x1="204.5" transform="translate(0 5.787)" fill="none"
                            stroke="#f6c700" stroke-width="1" />
                        <g id="사각형_4" data-name="사각형 4" transform="translate(102.25) rotate(45)" stroke="#f6c700"
                            stroke-width="1">
                            <rect width="8.184" height="8.184" stroke="none" />
                            <rect x="0.5" y="0.5" width="7.184" height="7.184" fill="none" />
                        </g>
                    </svg>
                </div>
                <div class="inputwrap">
                    <input type="password" class="input" value="">
                    <span class="go">
                        <svg id="keyboard_arrow_right-24px" xmlns="http://www.w3.org/2000/svg" width="17.503"
                            height="17.503" viewBox="0 0 17.503 17.503">
                            <path id="패스_1" data-name="패스 1" d="M0,0H17.5V17.5H0Z" fill="none" />
                            <path id="패스_2" data-name="패스 2"
                                d="M8.59,13.723l3.34-3.347L8.59,7.028,9.618,6l4.376,4.376L9.618,14.751Z"
                                transform="translate(-2.325 -1.624)" fill="#f6c700" />
                        </svg>
                    </span>
                </div>
                <div class="warning" style="margin-top: 10px;">비밀번호는</div>

            </div>
        </section>

        <section id="pg4">
            <div class="maincontent">

                <div class="signUp-Des">새 비밀번호를</div>
                <div class="signUp-Title">다시 한 번 입력해 주세요.</div>
                <div class="diamondline" style="text-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="204.5" height="11.574" viewBox="0 0 204.5 11.574">
                        <line id="선_1" data-name="선 1" x1="204.5" transform="translate(0 5.787)" fill="none"
                            stroke="#f6c700" stroke-width="1" />
                        <g id="사각형_4" data-name="사각형 4" transform="translate(102.25) rotate(45)" stroke="#f6c700"
                            stroke-width="1">
                            <rect width="8.184" height="8.184" stroke="none" />
                            <rect x="0.5" y="0.5" width="7.184" height="7.184" fill="none" />
                        </g>
                    </svg>
                </div>
                <div class="inputwrap">
                    <input type="password" class="input" value="">
                    <span class="go">
                        <svg id="keyboard_arrow_right-24px" xmlns="http://www.w3.org/2000/svg" width="17.503"
                            height="17.503" viewBox="0 0 17.503 17.503">
                            <path id="패스_1" data-name="패스 1" d="M0,0H17.5V17.5H0Z" fill="none" />
                            <path id="패스_2" data-name="패스 2"
                                d="M8.59,13.723l3.34-3.347L8.59,7.028,9.618,6l4.376,4.376L9.618,14.751Z"
                                transform="translate(-2.325 -1.624)" fill="#f6c700" />
                        </svg>
                    </span>
                </div>

            </div>
        </section>
        <!--완료되면 '비밀번호가 정상적으로 변경되었습니다.' 라고 alert, 로그인 창으로 이동-->

</html>