<div class="bottom">
    <div class="bottomtext">Copyright ⓒ Cistus & Crown3</div>
    <div>
        <img style="width: 90px;" class="int" src="/images/integrity.png" alt="integrity">
    </div>
</div>
<style>
    .bottom {
        border-top: var(--bg-primaryvar) solid 4px;
        width: 100%;
        height: 90px;
        text-align: center;
        background: var(--bg-secondary);
        color: #b6b6b6;
        font-size: 10px;
    }

    .bottomtext {
        padding-top: 15px;
    }
</style>