<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/mobile/Error.css">
    <script>
        window.onload = () => {
            document.querySelector("input").addEventListener("click", (ele) => {
                window.location = "/";
            })
        }
    </script>
</head>

<body>
    <img src="/images/JError.png" alt="Error">
    <div class="des">없는 페이지입니다.</div>
    <input type="button" class="main" value="메인으로 가기">
    <!--클릭 시 메인으로-->
</body>

</html>