<header>
    <img src="../Images/GeneralLogo.png" class="logo" alt="OOIDLOGO" onclick="menuopen()" />
</header>

<div class="menu">
    <div class="menu-contents">
        <% if (data) { %>
        <div class="menu-info">
            <a href="/profile" class="menu-info-goto-profile">
                <img src="../Images/gotoprofile.png" alt="" />
                <p>프로필</p>
            </a>
            <div class="menu-info-profile">
                <img src="../Images/DefaultIcon.png" alt="" />
                <p><%= data.number%> <%= data.name %></p>
            </div>
            <a href="/" class="menu-info-goto-mainpg">
                <img src="../Images/gotomain.png" alt="" />
                <p>메인 페이지</p>
            </a>
        </div>
        <% } else { %>
            <div class="menu-info">
                <a href="/login" class="menu-info-goto-profile">
                    <img src="../Images/gotoprofile.png" alt="" />
                    <p>프로필</p>
                </a>
                <a href="/login" class="menu-info-profile">
                    <img src="../Images/DefaultIcon.png" alt="" />
                    <p>로그인하기</p>
                </a>
                <a href="/login" class="menu-info-goto-mainpg">
                    <img src="../Images/gotomain.png" alt="" />
                    <p>메인 페이지</p>
                </a>
            </div>
        <% } %>
        <div class="menu-icons">
            <div class="menu-icons-back">
                <!-- 여기 안 menu-icons-back-wrap 의 margin-left를 조정하면 됨 -->
                <div style="margin-left: calc(50vw - 42.5px)" class="menu-icons-back-wrap">
                    <a href="/recommend" class="menu-icons-list">
                        <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xLink="http://www.w3.org/1999/xLink"
                            id="Icons_Gavel" overflow="hidden">
                            <path
                                d="M44 80 42 80 42 76 14 76 14 80 12 80C9.8 80 8 81.8 8 84 8 86.2 9.8 88 12 88L44 88C46.2 88 48 86.2 48 84 48 81.8 46.2 80 44 80Z" />
                            <path
                                d="M43.9 60.1C45.1 58.9 45.1 57 43.9 55.9L28.1 40.1C26.9 38.9 25 38.9 23.9 40.1L20 44 40 64 43.9 60.1Z" />
                            <path
                                d="M67.9 31.9C69.1 33.1 71 33.1 72.1 31.9L76 28 56 8 52.1 11.9C50.9 13.1 50.9 15 52.1 16.1L67.9 31.9Z" />
                            <path
                                d="M87 67 60 40 66 34 50 18 30 38 46 54 54 46 81 73C82.7 74.7 85.3 74.7 87 73 88.7 71.3 88.7 68.7 87 67Z" />
                        </svg></a>
                    <a href="/community" class="menu-icons-list"><svg viewBox="0 0 96 96"
                            xmlns="http://www.w3.org/2000/svg" xLink="http://www.w3.org/1999/xLink"
                            id="Icons_Clipboard1_LTR" overflow="hidden">
                            <path
                                d="M54.764 55.3C55.8901 56.3942 55.916 58.1941 54.8218 59.3202 54.8028 59.3397 54.7835 59.359 54.764 59.378L49.882 60.986 49.021 60.125 50.629 55.243C51.7949 54.138 53.629 54.1633 54.764 55.3ZM76.824 25.831 48.624 54.094 45 65.007 55.97 61.388 84.176 33.188Z" />
                            <path
                                d="M90.318 23.767 86.24 19.689C85.3564 18.7849 83.9072 18.7683 83.0031 19.6519 82.9906 19.6641 82.9782 19.6765 82.966 19.689L78.945 23.71 86.24 31 90.26 26.98C91.1619 26.1865 91.2497 24.8122 90.4563 23.9104 90.4124 23.8605 90.3663 23.8126 90.318 23.767Z" />
                            <path d="M26 65 41.842 65 43.168 61 26 61 26 65Z" />
                            <path d="M26 41 57.448 41 61.44 37 26 37 26 41Z" />
                            <path
                                d="M70 51.6 70 82 20 82 20 20 31 20 31 26 59 26 59 20 70 20 70 28.422 74.7 23.71 74.7 23.71 74.871 23.539 76 22.41 76 18C76 15.7909 74.2091 14 72 14L55 14 55 12C55 9.79086 53.2091 8 51 8L39 8C36.7909 8 35 9.79086 35 12L35 14 18 14C15.7909 14 14 15.7909 14 18L14 84C14 86.2091 15.7909 88 18 88L72 88C74.2091 88 76 86.2091 76 84L76 45.6ZM42.864 12.864C43.4291 12.2979 44.2002 11.986 45 12 46.6569 12 48 13.3431 48 15 48 16.6569 46.6569 18 45 18 43.3431 18 42 16.6569 42 15 41.986 14.2002 42.2979 13.4291 42.864 12.864Z" />
                            <path d="M26 53 45.448 53 49.44 49 26 49 26 53Z" />
                        </svg></a>
                    <a href="/feedback" class="menu-icons-list"><svg viewBox="0 0 96 96"
                            xmlns="http://www.w3.org/2000/svg" xLink="http://www.w3.org/1999/xLink"
                            id="Icons_PersonWithIdea" overflow="hidden">
                            <path
                                d="M49.44 88 49.44 79.33C49.4754 77.9555 48.8227 76.6538 47.7 75.86 45.2013 73.9202 42.3061 72.5545 39.22 71.86 36.9042 71.1648 34.5069 70.7781 32.09 70.71 29.6837 70.7045 27.2915 71.0757 25 71.81 21.9578 72.6281 19.0861 73.9827 16.52 75.81 15.4361 76.6355 14.7969 77.9175 14.79 79.28L14.79 88Z" />
                            <circle cx="32.09" cy="59.67" r="8.67" />
                            <path
                                d="M79.27 9 38.17 9C36.8319 9.011 35.7544 10.1018 35.76 11.44L35.76 43.56C35.7434 44.8909 36.8088 45.9833 38.1397 45.9999 38.1432 45.9999 38.1466 46 38.15 46L45.75 46 45.75 56.09 54.92 46 79.22 46C80.5565 45.9945 81.6355 44.9066 81.6301 43.5701 81.6301 43.5667 81.63 43.5634 81.63 43.56L81.68 11.47C81.7076 10.1338 80.6468 9.02812 79.3105 9.0005 79.297 9.00022 79.2835 9.00005 79.27 9ZM65.27 18.39 66.82 16.84C67.0915 16.6224 67.488 16.6662 67.7056 16.9377 67.8884 17.1659 67.8902 17.4898 67.71 17.72L66.16 19.27C66.0431 19.3861 65.8848 19.4508 65.72 19.45 65.5526 19.4492 65.3917 19.3849 65.27 19.27 65.0645 19.0233 65.0774 18.6614 65.3 18.43ZM58.1 13.59C58.0562 13.2448 58.3006 12.9295 58.6458 12.8858 58.991 12.842 59.3062 13.0864 59.35 13.4316 59.3567 13.4842 59.3567 13.5374 59.35 13.59L59.35 15.77C59.3937 16.1152 59.1494 16.4305 58.8042 16.4742 58.459 16.518 58.1437 16.2736 58.1 15.9284 58.0933 15.8758 58.0933 15.8226 58.1 15.77ZM49.76 16.72C49.9933 16.477 50.3795 16.4692 50.6225 16.7025 50.6284 16.7082 50.6343 16.714 50.64 16.72L52.19 18.27C52.4288 18.5147 52.4288 18.9053 52.19 19.15 52.0731 19.2661 51.9148 19.3308 51.75 19.33 51.5826 19.3292 51.4217 19.2649 51.3 19.15L49.76 17.6C49.5447 17.3567 49.5579 16.9873 49.79 16.76ZM49 26 46.85 26C46.5048 25.9563 46.2605 25.641 46.3042 25.2958 46.3404 25.0107 46.5649 24.7861 46.85 24.75L49 24.75C49.3452 24.7063 49.6605 24.9506 49.7042 25.2958 49.748 25.641 49.5036 25.9563 49.1584 26 49.1058 26.0067 49.0526 26.0067 49 26ZM52.18 32.4 50.63 33.95C50.356 34.1645 49.9601 34.1163 49.7456 33.8423 49.5654 33.6121 49.5672 33.2882 49.75 33.06L51.29 31.52C51.5615 31.3024 51.958 31.3462 52.1756 31.6177 52.3584 31.8459 52.3602 32.1698 52.18 32.4ZM58.7 39.5C57.6656 39.5047 56.7983 38.7198 56.7 37.69L60.61 37.69C60.5158 38.6862 59.6998 39.4594 58.7 39.5ZM61.14 36.44 56.25 36.44C55.7529 36.44 55.35 36.0371 55.35 35.54 55.35 35.0429 55.7529 34.64 56.25 34.64L61.14 34.64C61.6371 34.64 62.04 35.0429 62.04 35.54 62.04 36.0371 61.6371 36.44 61.14 36.44ZM62.33 33.33C62.3143 33.3659 62.2792 33.3894 62.24 33.39L55.15 33.39C55.1211 33.4017 55.0889 33.4017 55.06 33.39 54.5548 32.2865 53.9167 31.2488 53.16 30.3 52.6189 29.6914 52.1921 28.9902 51.9 28.23 51.5839 27.4259 51.4081 26.5735 51.38 25.71L51.38 25.4C51.5294 21.36 54.9255 18.2061 58.9655 18.3555 62.7959 18.4972 65.8684 21.5696 66.01 25.4L66.01 25.66C65.9815 26.5258 65.8091 27.3808 65.5 28.19 65.2035 28.948 64.7772 29.6485 64.24 30.26 63.4834 31.2036 62.8422 32.2343 62.33 33.33ZM67.74 33.81C67.6231 33.9261 67.4648 33.9908 67.3 33.99 67.1326 33.9892 66.9717 33.9249 66.85 33.81L65.3 32.26C65.0855 31.986 65.1337 31.5901 65.4077 31.3756 65.6379 31.1954 65.9619 31.1972 66.19 31.38L67.74 32.92C67.98 33.1681 67.98 33.5619 67.74 33.81ZM70.54 26 68.36 26C68.0148 26.0437 67.6995 25.7994 67.6558 25.4542 67.612 25.109 67.8564 24.7937 68.2016 24.75 68.2542 24.7433 68.3074 24.7433 68.36 24.75L70.54 24.75C70.8852 24.7063 71.2005 24.9506 71.2442 25.2958 71.288 25.641 71.0436 25.9563 70.6984 26 70.6458 26.0067 70.5926 26.0067 70.54 26Z" />
                        </svg></a>
                    <a href="/club" class="menu-icons-list"><svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"
                            xLink="http://www.w3.org/1999/xLink" id="Icons_BoardOfDirectors" overflow="hidden">
                            <path
                                d="M89.429 63.052C90.5984 62.727 91.4558 61.7281 91.6 60.523L93.977 40.717C94.1747 39.0753 93.0041 37.5842 91.3624 37.3865 91.3008 37.3791 91.239 37.3736 91.177 37.37L80.171 36.722C78.6008 36.6317 77.2274 37.7694 77.024 39.329L76.342 44.617 74.661 42.043 75.044 39.074C75.3689 36.5845 77.4894 34.722 80 34.721 80.1 34.721 80.2 34.721 80.3 34.73L85.054 35.009 85.741 30.792C86.0039 29.1561 84.8909 27.6169 83.255 27.354 83.1652 27.3396 83.0748 27.3292 82.984 27.323L74.035 26.723C72.4854 26.6222 71.115 27.7206 70.876 29.255L70 34.894 68.366 32.394 68.896 28.956C69.2607 26.5163 71.3612 24.7143 73.828 24.725 73.938 24.725 74.05 24.725 74.162 24.737L76.136 24.868 76.447 22.068C76.6277 20.421 75.4391 18.9394 73.7921 18.7587 73.7615 18.7553 73.7308 18.7524 73.7 18.75L66.714 18.213C65.096 18.0881 63.6721 19.2724 63.5 20.886L63.047 25.192C61.2393 23.7575 58.9987 22.9785 56.691 22.982L55.818 22.982 55.818 15.982C55.8172 15.2579 55.5295 14.5636 55.018 14.051 54.6506 13.7428 54.2403 13.4898 53.8 13.3 50.1144 11.5816 45.8612 11.5634 42.161 13.25 41.6475 13.4547 41.162 13.7235 40.716 14.05 40.2045 14.5626 39.9168 15.2569 39.916 15.981L39.916 22.981 38.954 22.981C36.7872 22.9785 34.6756 23.6645 32.924 24.94L32.5 20.886C32.328 19.2749 30.9077 18.0915 29.292 18.213L22.306 18.75C20.6542 18.8798 19.4205 20.3241 19.5503 21.9759 19.5527 22.0066 19.5556 22.0373 19.559 22.068L19.87 24.868 21.844 24.737C21.956 24.729 22.068 24.725 22.178 24.725 24.6447 24.7139 26.7452 26.5162 27.109 28.956L27.574 31.962 25.94 34.462 25.14 29.256C24.901 27.7216 23.5306 26.6232 21.981 26.724L13.032 27.324C11.379 27.4372 10.1308 28.869 10.244 30.522 10.2502 30.6127 10.2606 30.7032 10.275 30.793L10.962 35.01 15.716 34.731C15.816 34.725 15.916 34.722 16.016 34.722 18.5235 34.727 20.6395 36.5886 20.964 39.075L21.29 41.606 19.6 44.181 18.974 39.329C18.7706 37.7694 17.3972 36.6317 15.827 36.722L4.822 37.37C3.17121 37.4653 1.91022 38.8808 2.0055 40.5315 2.00907 40.5935 2.01458 40.6554 2.022 40.717L4.4 60.523C4.54432 61.7284 5.40223 62.7273 6.572 63.052L10.728 64.207 10.728 68.407 7.236 68.407C5.30808 68.4103 3.74585 69.9721 3.742 71.9L3.742 72.588C3.0114 73.4164 3.0907 74.6803 3.91912 75.4109 4.74755 76.1415 6.0114 76.0622 6.742 75.2337 7.40867 74.4778 7.40867 73.3439 6.742 72.588L6.742 71.9C6.742 71.6239 6.96586 71.4 7.242 71.4L10.73 71.4 10.73 72.587C9.99783 73.414 10.0747 74.678 10.9018 75.4102 11.7288 76.1424 12.9928 76.0655 13.725 75.2384 14.395 74.4816 14.395 73.3438 13.725 72.587L13.725 71.4 17.219 71.4C17.4951 71.4 17.719 71.6239 17.719 71.9L17.719 72.588C16.9884 73.4164 17.0677 74.6803 17.8961 75.4109 18.7246 76.1415 19.9884 76.0622 20.719 75.2337 21.3857 74.4778 21.3857 73.3439 20.719 72.588L20.719 71.9C20.7157 69.9717 19.1533 68.4093 17.225 68.406L13.725 68.406 13.725 65.573C14.3456 65.9792 15.0263 66.2852 15.742 66.48L22.178 68.2C25.372 69.0527 28.6 69.7437 31.862 70.273L31.862 79.561C31.8664 80.9327 32.8006 82.1268 34.131 82.461L35.636 82.837C43.6801 84.4449 51.969 84.3802 59.987 82.647L60.587 82.487C61.8949 82.1368 62.8061 80.9539 62.811 79.6L62.811 70.415C66.3548 69.8766 69.8669 69.1472 73.332 68.23L79.917 66.478C80.7682 66.2506 81.5691 65.8652 82.278 65.342L82.278 68.406 78.784 68.406C76.8557 68.4093 75.2933 69.9717 75.29 71.9L75.29 72.588C74.5578 73.415 74.6348 74.679 75.4618 75.4112 76.2888 76.1434 77.5528 76.0665 78.285 75.2394 78.955 74.4826 78.955 73.3448 78.285 72.588L78.285 71.9C78.285 71.6239 78.5089 71.4 78.785 71.4L82.279 71.4 82.279 72.587C81.5468 73.414 81.6237 74.678 82.4508 75.4102 83.2778 76.1424 84.5418 76.0655 85.274 75.2384 85.944 74.4816 85.944 73.3438 85.274 72.587L85.274 71.4 88.768 71.4C89.0441 71.4 89.268 71.6239 89.268 71.9L89.268 72.588C88.5374 73.4164 88.6167 74.6803 89.4451 75.4109 90.2736 76.1415 91.5374 76.0622 92.268 75.2337 92.9347 74.4778 92.9347 73.3439 92.268 72.588L92.268 71.9C92.2647 69.9693 90.6987 68.406 88.768 68.406L85.273 68.406 85.273 64.206ZM72.305 64.371C64.3141 66.4961 56.0806 67.5718 47.812 67.571 39.5063 67.5703 31.2362 66.4841 23.212 64.34L16.776 62.62C15.298 62.298 14.3608 60.8388 14.6828 59.3608 14.756 59.0248 14.8917 58.7057 15.083 58.42L33.922 29.536C35.0807 27.9111 36.9603 26.9548 38.956 26.975L56.7 26.975C58.6952 26.9549 60.5745 27.9102 61.734 29.534L80.586 58.416C81.4277 59.6722 81.0917 61.373 79.8354 62.2147 79.5487 62.4068 79.2283 62.5429 78.891 62.616Z" />
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="menu-description">
            <div class="menu-description-sliderleft">
                <img src="../Images/sliderleft.png" alt="" onclick="slide('left')" />
            </div>
            <div class="menu-description-text">
                <div class="menu-description-text-title">건의</div>
                <div class="menu-description-text-e">자신만의 의견을 제시하세요.</div>
            </div>
            <div class="menu-description-sliderright">
                <img src="../Images/sliderright.png" alt="" onclick="slide('right')" />
            </div>
        </div>
        <div class="menu-permission">
            <div class="menu-permission-line"></div>
            <div class="menu-permission-img">
                <img src="../Images/Administrator.png" alt="Administrator" />
            </div>
            <div class="menu-permission-img">
                <img src="../Images/Manager.png" alt="Manager" />
            </div>
            <div class="menu-permission-img">
                <img src="../Images/Master Jury.png" alt="Master Jury" />
            </div>
        </div>
    </div>
</div>
<!--menu end-->

<style>
    * {
        font-family: 나눔스퀘어;
        --bg-primaryvar: #F6C700;
        --bg-secondary: #000;
        --bg-A: #b49300;
        --bg-default: #fff;
        box-sizing: border-box;
    }


    body {
        overflow-x: hidden;
    }

    /* menu */

    .menu {
        z-index: -999;
        width: 100vw;
        height: calc(100vh - 54px);
        background: rgba(246, 201, 0, 1);
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        opacity: 0
    }

    .menu-info {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .menu-info-goto-profile {
        width: 100px;
        border-right: 1px solid var(--bg-secondary);
        padding-right: 3px;
        height: 70px;
        margin: auto 0;
        text-decoration: none; color: var(--bg-secondary);
    }

    .menu-info-goto-profile img {
        width: 50px;
    }

    .menu-info-goto-profile p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .menu-info-profile {
        padding: 0 15px;
    }

    .menu-info-profile img {
        width: 60px;
    }

    .menu-info-profile p {
        font-size: 13px;
        font-weight: bold;
        color: var(--bg-default);
        background: var(--bg-secondary);
        padding: 3px 15px;
        border-radius: 30px;
        margin: 5px 0;
    }

    .black-text {
        color: #000 !important;
    }

    .menu-info-goto-mainpg {
        width: 100px;
        border-left: 1px solid var(--bg-secondary);
        padding-left: 3px;
        height: 70px;
        margin: auto 0;
        text-decoration: none; color: var(--bg-secondary);
    }

    .menu-info-goto-mainpg img {
        width: 50px;
    }

    .menu-info-goto-mainpg p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .menu-icons {
        position: relative;
        height: 145px;
        margin: 10px 0;
        overflow: hidden;
    }

    .menu-icons-back {
        justify-content: center;
        flex-direction: row;
        background: rgb(0, 0, 0, 0.2);
        height: 85px;
        position: absolute;
        top: 30px;
        overflow: hidden;
    }

    .menu-icons-back-wrap {
        display: flex;
        justify-content: left;
        /* margin-left: calc(50vw - 42.5px); */
        transition: .2s;
        overflow: hidden;
        z-index: -1;
    }

    .menu-icons-list svg {
        width: 85px;
        height: 85px;
    }

    .menu-icons-list:nth-child(-n+3) {
        margin-right: 10vw;
        overflow: hidden;
    }

    .menu-icons-list:last-child {
        margin-right: 50vw;
    }

    .menu-icons-center {
        width: 105px;
        height: 105px;
        margin-left: auto;
        margin-right: auto;
        fill: var(--bg-primaryvar);
        opacity: 100%;
    }

    .menu-description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-description-sliderleft img {
        width: 50px;
        margin-left: 20px;
    }

    .menu-description-sliderright img {
        width: 50px;
        margin-right: 20px;
    }

    .menu-description-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-description-text-title {
        font-size: 27px;
        font-weight: 900;
    }

    .menu-description-text-e {
        font-size: 13px;
        font-weight: bold;
    }

    .menu-permission {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 20px;
    }

    .menu-permission-line {
        border-top: 3px solid var(--bg-secondary);
        width: 40%;
        position: absolute;
        top: 5px;
    }

    .menu-permission-img img {
        width: 30px;
        margin: 0 5px;
    }



    /* menu end */

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
        background-color: var(--bg-secondary);
        height: 0;
        border-bottom: var(--bg-primaryvar) solid 4px;
    }

    .logo {
        cursor: pointer;
        width: 50px;
        transition: .1s;
    }
</style>